*{
    padding: 0;
    margin: 0;
}

/* Home Page */
.header_photo{
    background-image: url("/static/img/Lichen.jpg");
    width: 100%;
    filter: grayscale(100%);
    /* background-size: cover; */
    height: 100px;
    /* position: absolute; */
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.4;
    content: '';
}

#logo{
    position: relative;
    color: black;
    text-align: center;
}

/* About Page */
#jack_pic{
    background-image: url("/static/img/Jack.jpg");
    height: 400px;
    width: 400px;
    border-radius: 100%;
    background-size: cover;
}