*{
    padding: 0;
    margin: 0;
}

/* Login & Registration Pages */
.app_entrance_title{
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 4%;
}

.app_entrance_form{
    margin-right: auto;
    margin-left: auto;
    width: 400px;
    height: auto;
    padding: 20px;
}

#password_label{
    padding-top: 15px;
}

#login_btn, #register_btn{
    margin: 15px 0px;
}

.app_entrance_form p{
    text-align: center;
}

#info_sharing{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.register_label{
    margin-top: 10px;
}


/* Navbar */
.navbar-brand{
    padding-left: 10px;
}

i.fas.fa-crow{
    margin-left: 20px;
}


/* Home Page */
.header_photo{
    background-image: url("/static/img/Lichen.jpg");
    width: 100%;
    filter: grayscale(100%);
    /* background-size: cover; */
    height: 100px;
    /* position: absolute; */
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.4;
    content: '';
}

#logo{
    position: relative;
    color: black;
    text-align: center;
}

/* About Page */
#jack_pic{
    background-image: url("/static/img/Jack.jpg");
    height: 400px;
    width: 400px;
    border-radius: 100%;
    background-size: cover;
}

